/* App.css */

/* Reset default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5; /* Light grey background */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure full viewport height */
}

.App {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #ffffff; /* White background */
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow */
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.app-header {
  margin-bottom: 20px;
  padding: 20px 0;
  background: linear-gradient(to right, #4facfe, #00f2fe); /* Gradient background */
  color: #ffffff; /* White text */
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.app-header h1 {
  font-size: 2.5rem; /* Larger title */
  font-weight: bold;
}

textarea {
  width: 100%;
  height: 150px;
  margin: 20px 0;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #dcdcdc; /* Light grey border */
  border-radius: 8px;
  resize: vertical;
  background-color: #f9f9f9; /* Light grey background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  margin: 10px;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #bfc9d1, #838686); /* Gradient button */
  color: #ffffff; /* White text */
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: linear-gradient(to right, #4facfe, #00f2fe); /* Same gradient on hover */
  transform: scale(1.05);
}

.statistics,
.preview {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.95); /* Slightly transparent white */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  .App {
      padding: 10px;
  }

  .app-header h1 {
      font-size: 2rem;
  }

  textarea {
      height: 100px;
  }
}
